* {
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    font-size: 13px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
    padding: 10px;
}

header a {
    color: black;
    text-decoration: none;
}

header a:hover {
    text-decoration: underline;
}

#apps svg {
    width: 24px;
    height: 24px;
    fill: #5f6368;
}

#sign-in:hover {
    text-decoration: none;
}

#sign-in {
    padding: 10px 23px;
    background-color: #1c5fba;
    color: white;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 4px;
    line-height: 16px;
    font-size: 14px;
}

#sign-in:hover {
    text-decoration: none;
    background: #1b66c9;
    box-shadow: 0 1px 3px 1px rgba(66, 64, 67, .15),
                0 1px 2px 0 rgba(60, 64, 67, 0.3);
}

#apps {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: relative;
}

#apps::after {
    content: "Google Apps";
    position: absolute;
    top: 115%;
    width: max-content;
    background-color: rgba(60, 64, 67, 0.9);
    color: white;
    display: inline-block;
    padding: 5px;
    border-radius: 4px;
    font-weight: 500;
    letter-spacing: 0.8px;
    line-height: 16px;
    opacity: 0;
    transition-property: opacity;
    transition-duration: 50ms;
    transition-delay: 400ms;
}

#apps:hover {
    cursor: pointer;
    background-color: rgba(60, 64, 67, .08);
}

#apps:hover::after {
    opacity: 1;
}




main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 45px;
}

#form-wrapper {
    width: 100%;
    margin-top: 30px;
}

#form-wrapper form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


}

#input-wrapper {
    border: 1px solid #dfe1e5;
    display: flex;
    gap: 10px;
    height: 46px;
    align-items: center;
    padding: 0 20px 0 15px;
    border-radius: 24px;
    max-width: 582px;
    min-width: 358px;
    flex-grow: 1;
    margin: 0 25px;
    width: 90%;
}


#search-icon {
    width: 24px;
    height: 24px;

}

#search-icon > svg {
    fill: #8d8f90;
}

#mic-icon,
#camera-icon {
    width: 24px;
    height: 24px;

}

#input-wrapper > input {
    line-height: 22px;
    font-size: 16px;
    border: unset;
    outline: none;
    flex-grow: 1;

}

#input-wrapper:hover {
    box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
    border-color: rgba(223, 225, 229, 0);
}

#button-wrapper {
    margin-top: 30px;
    display: flex;
    gap: 10px;
}

#button-wrapper .btn {
    text-decoration: none;
    font-size: 14px;
    line-height: 36px;
    color: #3c4043;
    cursor: pointer;
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    margin: 0 2px;
    padding: 0 16px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    user-select: none;

}

#button-wrapper .btn:hover {
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
}

main > div:last-child {
    margin-top: 30px;
    color: #4d5156;
    line-height: 27px;
    font-size: 13px;
}

main > div:last-child a{
    text-decoration: none;
    padding: 0 4px;
}

main > div:last-child a:hover {
    text-decoration: underline
}

@media all and (max-width: 768px) {
    main > div:first-child > img {
        height: 56px;
    }

    #form-wrapper {
        margin-top: 20px;
    }
}





footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}


#footer-content {
    position: relative;
    font-size: 14px;
    bottom: 0;
}

#footer-content > :first-child {
    font-size: 15px;
    background-color: #eff2f3;
    color: #70757A;
    padding: 15px 30px;
    border-bottom: 1px solid #dadce0;
}

#footer-content > :last-child {
    display: flex;
    background-color: #eff2f3;
    justify-content: space-between;
    align-items: center;
    height: 44px;
    padding: 0 20px;
}

#footer-content > :last-child > :last-child {
    display: flex;
}


#footer-content a {
    text-decoration: none;
    color: #70757A;
    padding: 15px;
}

#footer-content a:hover {
    text-decoration: underline;
    cursor: pointer;
}

#settings {
    color: #70757A;
    padding: 15px;
    float: right;
}

#settings:hover {
    text-decoration: underline;
    cursor: pointer;
}

#settings:hover menu {
    display: block;
}

#settings > menu {
    position: absolute;
    display: none;
    bottom: 50%;
    right: 1%;
    width: 180px;
    background-color: #FFFFFF;
}

#settings a {
    font-size: 14px;
    color: #202124;
}

#settings a:hover {
    font-size: 14px;
    text-decoration: none;
}

#settings li{
    list-style: none;
    padding: 10px 10px;
}

#settings li:hover{
    background-color: #dadce0;
}

#theme {
    display: flex;
    align-items: center;
    margin: 5px 0 8px 0;
    height: 36px;
    border-top: 1px solid #dadce0;
}

#theme > svg {
    width: 20px;
    height: 20px;
    fill: #a6a7a9;
    display: none;
}

#theme:hover > svg {
    display: block;

}

@media all and (max-width: 1200px) {
    #footer-content > :last-child {
        justify-content: space-around;
    }
}


@media all and (max-width: 768px) {
    #footer-content > :last-child {
        display: flex;
        background-color: #eff2f3;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        flex-direction: column;
        height: 100px;
        padding: 20px 20px;
    }

    #settings > menu {
        position: absolute;
        display: none;
        bottom: 30%;
        right: 20%;
        width: 180px;
        background-color: #FFFFFF;
    }
}



